/Assets/Best HTTP (Pro)
/Assets/Best HTTP (Pro).meta
/Assets/UnityVS
/Assets/UnityVS.meta
/Assets/Plugins
/Assets/Plugins.meta
/obj
/Library
/Temp
/UnityVS.DHXDownloadManagerPublic.CSharp.Editor.csproj
/UnityVS.DHXDownloadManagerPublic.CSharp.csproj
/UnityVS.DHXDownloadManagerPublic.sln
/DHXDownloadManager.unitypackage
/Common/Core/DHXDownloadManager.Core/bin
/Common/Core/DHXDownloadManager.Core/obj
/Common/Core/DHXDownloadManager.Core/DHXDownloadManager.Core.v12.suo
/Common/DHXDownloadManager.Core/obj
/Common/DHXDownloadManager.Core/bin
/Common/DHXDownloadManager.Core/DHXDownloadManager.Core.v12.suo
/Common/DHXDownloadManager.Core/DHXDownloadManager.Core.csproj.user
